<?xml version="1.0"?>
<robot name="box">

  <link name="box">
    <collision>
      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/add/triangle.dae" scale="1 1 1" />
      </geometry>
      <surface>
        <contact>
          <collide_without_contact>false</collide_without_contact>
        </contact>
      </surface>
    </collision>

    <visual>
      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/add/triangle.dae" scale="1 1 1" />
      </geometry>
    </visual>

    <inertial>
      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value= "0.07" />
      <inertia
        ixx=" 0.40" ixy="0.000"  ixz="0.000"
        iyy="0.40" iyz="0.000"
        izz="0.11" />
    </inertial>
  </link>

  <gazebo reference="box">
    <material>Gazebo/Orange</material>
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <selfCollide>false</selfCollide>
  </gazebo>

</robot>