<?xml version="1.0" ?>

<!-- 

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  IFRA (Intelligent Flexible Robotics and Assembly) Group, CRANFIELD UNIVERSITY        #
#  Created on behalf of the IFRA Group at Cranfield University, United Kingdom          #
#  E-mail: IFRA@cranfield.ac.uk                                                         #
#                                                                                       #
#  Licensed under the Apache-2.0 License.                                               #
#  You may not use this file except in compliance with the License.                     #
#  You may obtain a copy of the License at: http://www.apache.org/licenses/LICENSE-2.0  #
#                                                                                       #
#  Unless required by applicable law or agreed to in writing, software distributed      #
#  under the License is distributed on an "as-is" basis, without warranties or          #
#  conditions of any kind, either express or implied. See the License for the specific  #
#  language governing permissions and limitations under the License.                    #
#                                                                                       #
#  IFRA Group - Cranfield University                                                    #
#  AUTHORS: Mikel Bueno Viso - Mikel.Bueno-Viso@cranfield.ac.uk                         #
#           Dr. Seemal Asif  - s.asif@cranfield.ac.uk                                   #
#           Prof. Phil Webb  - p.f.webb@cranfield.ac.uk                                 #
#                                                                                       #
#  Date: May, 2023.                                                                     #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  Some of the information used to build the ROS2 ur5-Robot .urdf files in this ROS2    #
#  repository has been taken from the following resources:                              #
#       - Universal Robots ROS2 Description:                                            #
#         https://github.com/UniversalRobots/Universal_Robots_ROS2_Description          #
#       - Universal Robots ROS2 Gazebo Simulation:                                      #
#         https://github.com/UniversalRobots/Universal_Robots_ROS2_Gazebo_Simulation    #
#                                                                                       #
#  AUTHORS:                                                                             #
#       - ROS-Industrial - https://rosindustrial.org                                    #
#       - Universal Robots - https://github.com/UniversalRobots                         #
#       - Nadia Hammoudeh Garcia, Kelsey Hawkins, G.A. vd. Hoorn, Lovro Ivanov, Mathias #
#         Ludtke, Wim Meeussen, Felix Messmer, Miguel Prada Sarasola, Denis Stogl,      #
#         Andy Zelenak, Marvin Grosse Besselmann.                                       #
#       - Maintainers: Felix Exner (exner@fzi.de), Tristan Schnell (schnell@fzi.de),    #
#         Lovro Ivanov (lovro.ivanov@gmail.com), Denis Stogl (denis@stoglrobotics.de).  #
#                                                                                       #
#  Copyright (c) 2021, Universal Robots A/S                                             #
#  (ORIGINAL LICENSE) -> Licensed under the BSD 3-Clause License.                       #
#                                                                                       #
#  CHANGES MADE:                                                                        #
#  Robot information/specifications have been taken, and the code has been modified and #
#  re-organised in accordance with the ros2_SimRealRobotControl standards.              #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ======= CITE OUR WORK ======= #
# You can cite our work with the following statement:
# IFRA-Cranfield (2023) ROS 2 Sim-to-Real Robot Control. URL: https://github.com/IFRA-Cranfield/ros2_SimRealRobotControl.

-->

<robot name="ur5" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- PASS ARGUMENTS: -->

  <xacro:arg name="cell_layout_1" default="false"/>
  <xacro:property name="cell_layout_1" value="$(arg cell_layout_1)"/>
  <xacro:arg name="cell_layout_2" default="false"/>
  <xacro:property name="cell_layout_2" value="$(arg cell_layout_2)"/>
  <xacro:arg name="cell_layout_3" default="false"/>
  <xacro:property name="cell_layout_3" value="$(arg cell_layout_3)"/>
  
  <xacro:arg name="EE_no" default="false"/>
  <xacro:property name="EE_no" value="$(arg EE_no)"/>
  <xacro:arg name="EE_robotiq" default="false"/>
  <xacro:property name="EE_robotiq" value="$(arg EE_robotiq)"/>

  <xacro:arg name="bringup" default="false"/>
  <xacro:property name="bringup" value="$(arg bringup)"/>
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:property name="robot_ip" value="$(arg robot_ip)"/>

  <xacro:arg name="script_filename" default="none"/>
  <xacro:property name="script_filename" value="$(arg script_filename)"/>
  
  <xacro:arg name="input_recipe_filename" default="none"/>
  <xacro:property name="input_recipe_filename" value="$(arg input_recipe_filename)"/>
  
  <xacro:arg name="output_recipe_filename" default="none"/>
  <xacro:property name="output_recipe_filename" value="$(arg output_recipe_filename)"/>
  <!--xacro:include filename="camera.xacro" /-->

  <!-- Include XACRO-MACRO file of the ur5: -->
  <xacro:include filename="$(find ros2srrc_ur5_gazebo)/urdf/ur5_macro.urdf.xacro"/>	
  <xacro:ur5 
    prefix=""
    EE_no="${EE_no}"
    EE_robotiq="${EE_robotiq}"
    bringup="${bringup}"
    robot_ip="${robot_ip}"
    script_filename="${script_filename}"
    input_recipe_filename="${input_recipe_filename}"
    output_recipe_filename="${output_recipe_filename}"
    />

  <!-- World link -->
  <link name="world"/>
  
  <!-- ===== ur5 ROBOT ALONE ===== -->
  <xacro:if value="${cell_layout_1}">
    <joint name="world-base_link-fixed" type="fixed">
      <parent link="world"/>
      <child link="base_link"/>
    </joint>  
  </xacro:if>
    

  <!-- ===== OTHER CELL LAYOUTS ===== -->

  <!-- === Cylindric BASE === -->
  <xacro:if value="${cell_layout_2}">
    <link name='ur5_cell'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/ur5_CranfieldCell/UR5cupboard.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/ur5_CranfieldCell/UR5cupboard.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1000.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>

    <link name='link_3'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/add/box_star_tri_containor.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/add/box_star_tri_containor.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1000.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>

    
    <joint name="world_joint" type="fixed">
      <parent link="world" />
      <child link = "ur5_cell" />
      <origin xyz="0.0 0.0 0.00" rpy="0.0 0.0 0.0" />
    </joint>
    
    <joint name="ur_joint" type="fixed">
      <parent link="ur5_cell" />
      <child link = "base_link" />
      <origin xyz="-0.25 0.20 0.762" rpy="0.0 0.0 -0.7854" /> 
    </joint>
    
    <joint name="contain_ur" type="fixed">
      <parent link="world" />
      <child link = "link_3" />
      <origin xyz="-0.25 1.00 0.801" rpy="0.0 0.0 0.0" />
    </joint>

  </xacro:if>
  <!-- === Cylindric BASE === -->

  <!-- === Cranfield University - Lab Cell === -->
  <xacro:if value="${cell_layout_3}">

    <link name='link_0'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/add/Interroll_R335015_DE30_RM8310_Roller_Conveyor_Straight_24V_PolyVee_V4.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/add/Interroll_R335015_DE30_RM8310_Roller_Conveyor_Straight_24V_PolyVee_V4.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1000.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>

    <link name='link_1'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/add/ur5_robotiq_model.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/add/ur5_robotiq_model.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1000.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>

    <link name='link_2'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/add/container.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/add/container.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1000.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>

    <link name='link_3'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/add/box_star_tri_containor.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/add/box_star_tri_containor.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1000.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>

    <link name='ur5_cell'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/ur5_CranfieldCell/UR5cupboard.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/ur5_CranfieldCell/UR5cupboard.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1000.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>
    
   
    <link name='ur5_wall'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/ur5_CranfieldCell/UR5wall.dae" scale="1 2.5 1.5" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/ur5_CranfieldCell/UR5wall.dae" scale="1 2.5 1.5" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1000.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>
   
    <link name='ur5_EB'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/ur5_CranfieldCell/UR5emergencybutton.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/ur5_CranfieldCell/UR5emergencybutton.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>
    <link name='ur5_B'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/ur5_CranfieldCell/UR5button.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/ur5_CranfieldCell/UR5button.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>
    <link name='ur5_L'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/ur5_CranfieldCell/XVC4B4.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur5_gazebo)/meshes/ur5_CranfieldCell/XVC4B4.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>


    <joint name="LINE" type="fixed">
      <parent link="world" />
      <child link = "link_0" />
      <origin xyz="0.45 5.05 0.00" rpy="0.0 0.0 -1.5707" />
    </joint>

    <joint name="MODEL" type="fixed">
      <parent link="world" />
      <child link = "link_1" />
      <origin xyz="-0.2 3.95 0.00" rpy="0.0 0.0 0.0" />
    </joint>

    <joint name="contain" type="fixed">
      <parent link="world" />
      <child link = "link_2" />
      <origin xyz="0.35 -0.85 0.25" rpy="0.0 0.0 0.0" />
    </joint>

    <joint name="contain_ur" type="fixed">
      <parent link="world" />
      <child link = "link_3" />
      <origin xyz="-0.25 1.00 0.801" rpy="0.0 0.0 0.0" />
    </joint>

    <joint name="world_joint" type="fixed">
      <parent link="world" />
      <child link = "ur5_cell" />
      <origin xyz="0.0 0.0 0.00" rpy="0.0 0.0 0.0" />
    </joint>
    
    <joint name="wall_joint" type="fixed">
      <parent link="world" />
      <child link = "ur5_wall" />
      <origin xyz="-1.0 -3.0 0.00" rpy="0.0 0.0 0.0" />
    </joint>
   
    <joint name="ur_joint" type="fixed">
      <parent link="ur5_cell" />
      <child link = "base_link" />
      <origin xyz="-0.25 0.20 0.762" rpy="0.0 0.0 -0.7854" /> 
    </joint>
    <joint name="eb_joint" type="fixed">
      <parent link="ur5_cell" />
      <child link = "ur5_B" />
      <origin xyz="-0.10 0.01 0.762" rpy="0.0 0.0 0.0" /> 
    </joint>
    <joint name="b_joint" type="fixed">
      <parent link="ur5_cell" />
      <child link = "ur5_EB" />
      <origin xyz="-0.18 0.01 0.762" rpy="0.0 0.0 0.0" /> 
    </joint>
    <joint name="l_joint" type="fixed">
      <parent link="ur5_cell" />
      <child link = "ur5_L" />
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" /> 
    </joint>

  </xacro:if>
  <!-- === Cranfield University - Lab Cell === -->

</robot>
